# DAT210x - Programming with Python for DS

## Module2 - Lab4

Import and alias Pandas:

In [1]:
import pandas as pd

Load up the table from the link, and extract the dataset out of it. If you're having issues with this, look carefully at the sample code provided in the reading:

In [33]:
url = 'http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2'
dfs = pd.read_html(url, header = 1)

In [36]:
df = dfs[0]

Next up, rename the columns so that they are _similar_ to the column definitions provided to you on the website. Be careful and don't accidentally use any column names twice. If a column uses special characters, you can replace them with regular characters to make it easier to work with:

In [38]:
df.head()

,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G.1,A.1,G.2,A.2
0,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
2,3,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
3,4,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
4,NaN,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0

Get rid of any row that has at least 4 NANs in it. That is, any rows that do not contain player points statistics:

In [ ]:
# .. your code here ..

At this point, look through your dataset by printing it. There probably still are some erroneous rows in there. What indexing command(s) will you use to select all rows EXCEPT those rows?

In [ ]:
# .. your code here ..

Get rid of the 'RK' column:

In [ ]:
# .. your code here ..

Make sure there are no holes in your index by resetting it. There is an example of this in the reading material. By the way, drop the original index.

In [ ]:
# .. your code here ..

Check the data type of all columns, and ensure those that should be numeric are numeric.

In [ ]:
# .. your code here ..

Your dataframe is now ready! Use the appropriate commands to answer the questions on the course lab page.

In [ ]:
# .. your code here ..